.testing{
    border-style: dotted;
    border-width: 0.2em;
    border-color: magenta;
}

html{
    height:100%;
    width:100%;
    margin: 0em;
    padding: 0em;
}

.body{
    background-color: #c8d0eb;
    color: black;
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0em;
    padding: 0em;

    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.container-vertical{
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: left;
}

.container-horizontal{
    display:flex;
    justify-content: center;
    justify-self:center;

    flex-direction: row;
    align-items: center;
}

.master{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    min-width: 22em;
}

.header{
    width: 100%;
    height:5em;
    background-color: #7781a3;
}

.footer{
    height: 1.2em;
    background-color: #7781a3;
    margin: 0em;
    padding: 0em;
    font-size: 0.8rem;
    }

.main{
    display:flex;
    flex-direction: row;
    align-items: left;
    width: 100%;
    min-width: 22em;

    flex-grow: 1;
}

.sidebar{
    display: flex;

    border-style: solid;
    border-width: 0.2em;
    border-right-width: 0em;
    border-left-width: 0em;
    border-top-width: 0em;
    border-color: black;

    width: 15%;
    min-height: auto;
    min-width: 10em;
    flex-grow:1;
}

.sidebar-button{
    width: 75%;
    border-radius: 2em;
}

.side-menu-title{
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 0em;
    border-bottom-width: 0.2em;
    border-top-width: 0.2em;
    background-color: #748bd1;
    margin-bottom:0.5em;
}

.side-buttons-box{
    display: flex;
    justify-content: center;
    align-content: center;
}

.storage-menu {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: left;

    font-weight: bold;
    flex-shrink: 0;
    padding-bottom:0.5em;
}

.projects-menu {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: left;

    font-weight: bold;
    flex-grow: 1;
}

.projects-table{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    margin-top: 0.5em;
}

.project-cell{
    display: flex;
    justify-content: center;
}

.project-select{
    display:flex;
    font-weight: normal;
    word-wrap:break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

.project-select:hover{
    color: midnightblue;
    text-decoration: underline;
    cursor: pointer;
}

.dashboard{
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-width: 0.2em;
    border-right-width: 0em;
    border-color: black;

    width: 85%;
    min-height: auto;
    min-width: 8em;

    flex-grow: 1;
}

.dashboard-title{
    min-height: auto;
    /*min-width: auto;*/
    font-weight:bolder;
    font-size: 2rem;
    text-align: center;

    word-wrap:break-word;

    margin:0em;
    width: 60%;
}

#dashboardTop{
    height: 4.5em;
    flex-grow: 0;
}

.dashboard-top-left{
    float:left;
    width: 20%;
    max-width: 8em;
    height: auto;
}

.dashboard-top-right{
    float:right;
    width: 20%;
    max-width: 8em;
    height: auto;
}

.project-button{
    border-radius: 2em;
    min-width:4.5em;
    width:auto;
    height:auto;
}

.tasks-menu{
    flex-grow: 1;
    justify-content: center;
    justify-items: center;
    min-height: 80%;
    min-width: 100%;
}

.tasks-menu-title{
    height:8%;
    width:99.5%;
    font-weight: bold;
    text-align: center;

    border-style: solid;
    border-width: 0.1em;
    border-color: black;
    border-radius: 0.5em;
}

.tasks-menu-button{
    border-radius: 2em;
    width:8em;
    height:1.5em;
    margin:0.5em;
}

.tasks-bench{
    min-height:auto;
    flex-grow: 1;

    border-style: solid;
    border-width: 0.1em;
    border-color: black;
    border-radius: 0.5em;
}

.tasks-table{
    display: flex;
    flex-direction:column;
    flex-grow: 2;
}

.task-cell{
    border-style: dotted;
    border-width: 0.2em;
    border-color: black;
    border-radius: 2em;

}

.task-title{

}
